In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, LabelBinarizer
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.tree import DecisionTreeClassifier

from sklearn import tree

In [2]:
pd.set_option("display.max_columns", None)

In [3]:
pump_target = pd.read_csv('data/Training_set_labels.csv')
pump_target.head()

      id    status_group
0  69572      functional
1   8776      functional
2  34310      functional
3  67743  non functional
4  19728      functional

In [4]:
pump_features = pd.read_csv('data/Training_set_values.csv')
pump_features.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [5]:
pumps = pump_features.merge(pump_target)
pumps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
 40  status_group           59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 19.0+ MB

In [6]:
pumps.dropna(inplace=True)

In [7]:
pumps_columns = list(pumps.columns)

In [8]:
for column in pumps_columns:
    print('-----------')
    print(column)
    print('-----------')
    print(pumps[column].value_counts())

-----------
id
-----------
10235    1
5544     1
19843    1
13708    1
11663    1
        ..
51756    1
8753     1
12851    1
565      1
4098     1
Name: id, Length: 27813, dtype: int64
-----------
amount_tsh
-----------
0.0        15679
500.0       1993
50.0        1540
20.0        1027
1000.0       886
           ...
6300.0         1
60000.0        1
900.0          1
3500.0         1
45000.0        1
Name: amount_tsh, Length: 85, dtype: int64
-----------
date_recorded
-----------
2011-03-17    383
2011-03-15    379
2011-03-14    341
2011-03-09    305
2011-03-18    278
             ...
2011-07-03      1
2004-05-01      1
2013-01-13      1
2013-12-01      1
2012-10-01      1
Name: date_recorded, Length: 304, dtype: int64
-----------
funder
-----------
Government Of Tanzania          6050
Danida                          1908
World Bank                       763
Unicef                           689
Norad                            653
                                ...
D Ct                               1
Dadid                              1
Village Council/ Rose Kawala       1
Noeli Mahobokela                   1
Dv                                 1
Name: funder, Length: 866, dtype: int64
-----------
gps_height
-----------
0       5948
1290      39
1295      31
1304      30
1286      29
        ...
197        1
2422       1
2614       1
221        1
2281       1
Name: gps_height, Length: 2397, dtype: int64
-----------
installer
-----------
DWE                               8397
RWE                                866
Commu                              835
Government                         768
CES                                610
                                  ...
Water Authority                      1
ISF / TASAFF                         1
Serikari                             1
Building works engineering Ltd       1
WDE                                  1
Name: installer, Length: 908, dtype: int64
-----------
longitude
-----------
0.000000     332
38.340501      2
37.542785      2
37.538602      2
37.541579      2
            ...
37.583469      1
37.574559      1
34.540023      1
30.859758      1
34.620678      1
Name: longitude, Length: 27472, dtype: int64
-----------
latitude
-----------
-2.000000e-08    332
-6.959749e+00      2
-6.962475e+00      2
-6.958716e+00      2
-6.957328e+00      2
                ...
-9.569177e+00      1
-8.977978e+00      1
-1.077908e+01      1
-6.514583e+00      1
-3.667918e+00      1
Name: latitude, Length: 27473, dtype: int64
-----------
wpt_name
-----------
none                       2736
Shuleni                     622
Zahanati                    343
Msikitini                   249
Kanisani                    160
                           ...
Rushambya                     1
Kwa Noa                       1
Kwa Costantino                1
Kwa Andilile Mwangajila       1
Silaloda Primary School       1
Name: wpt_name, Length: 18344, dtype: int64
-----------
num_private
-----------
0      27185
6         71
8         44
32        40
5         35
15        35
45        34
1         32
39        30
93        28
3         25
65        22
47        21
102       20
2         18
4         18
17        16
20        14
7         11
80        11
11        10
41        10
25         9
34         8
120        7
16         7
22         6
50         5
24         5
58         4
38         4
12         4
14         3
10         3
27         2
26         2
94         1
62         1
240        1
42         1
141        1
35         1
131        1
180        1
60         1
150        1
23         1
55         1
280        1
213        1
Name: num_private, dtype: int64
-----------
basin
-----------
Pangani                    7630
Rufiji                     4048
Internal                   3393
Lake Nyasa                 2868
Wami / Ruvu                2594
Lake Victoria              2513
Lake Tanganyika            2472
Ruvuma / Southern Coast    1973
Lake Rukwa                  322
Name: basin, dtype: int64
-----------
subvillage
-----------
Kati                 278
Majengo              275
Shuleni              247
Madukani             224
Sokoni               136
                    ...
Mitawa                 1
Mhalo A                1
Damwelu Magharibi      1
Malioni A              1
Mlesha                 1
Name: subvillage, Length: 8940, dtype: int64
-----------
region
-----------
Iringa           4459
Kilimanjaro      4053
Arusha           2563
Tanga            1850
Kigoma           1778
Morogoro         1557
Dodoma           1403
Kagera           1154
Pwani            1143
Ruvuma           1121
Mwanza            897
Mbeya             870
Mtwara            861
Manyara           856
Shinyanga         783
Lindi             573
Rukwa             566
Singida           498
Tabora            451
Mara              325
Dar es Salaam      52
Name: region, dtype: int64
-----------
region_code
-----------
11    4461
3     4053
2     2254
4     1850
16    1778
5     1557
1     1403
18    1161
10    1121
6     1058
19     897
12     870
21     856
17     781
15     566
13     498
14     451
80     442
20     325
9      323
24     309
99     288
90     250
8      124
60      85
7       52
Name: region_code, dtype: int64
-----------
district_code
-----------
1     5522
4     4936
2     4753
3     4635
5     2642
6     1884
7     1623
30     609
8      419
23     281
33     275
53      94
43      70
13      47
62      10
0        8
80       5
Name: district_code, dtype: int64
-----------
lga
-----------
Njombe           2202
Moshi Rural      1224
Arusha Rural     1146
Kyela             858
Meru              816
                 ...
Ileje              12
Ilala              12
Bukombe             3
Singida Rural       1
Nyamagana           1
Name: lga, Length: 109, dtype: int64
-----------
ward
-----------
Igosi         301
Imalinyi      243
Siha Kati     231
Mdandu        226
Nduruma       200
             ...
Liwale A        1
Shabaka         1
Ihanja          1
Kasiriri        1
Kasharunga      1
Name: ward, Length: 1310, dtype: int64
-----------
population
-----------
0       6730
1       3799
150     1326
200     1121
50       793
        ...
723        1
675        1
6800       1
643        1
1439       1
Name: population, Length: 753, dtype: int64
-----------
public_meeting
-----------
True     25922
False     1891
Name: public_meeting, dtype: int64
-----------
recorded_by
-----------
GeoData Consultants Ltd    27813
Name: recorded_by, dtype: int64
-----------
scheme_management
-----------
VWC                 18084
Water Board          2366
WUA                  2282
Water authority      2110
Company              1006
WUG                   983
Parastatal            422
Private operator      323
Other                 218
Trust                  19
Name: scheme_management, dtype: int64
-----------
scheme_name
-----------
None                           640
Borehole                       543
Chalinze wate                  404
Ngana water supplied scheme    270
wanging'ombe water supply s    261
                              ...
Ikola water suply                1
Oljoro water pipelines           1
Mradi wa maji wa kibilizi        1
Tank fu Mwenge                   1
Kulasi water supply              1
Name: scheme_name, Length: 2577, dtype: int64
-----------
permit
-----------
True     21880
False     5933
Name: permit, dtype: int64
-----------
construction_year
-----------
0       5879
2008    1693
2009    1477
2010    1196
2006     927
1978     917
2007     913
2003     865
2002     761
2000     715
2011     686
1999     679
1972     651
2004     556
2012     553
1982     546
2005     532
1998     519
1984     515
1974     497
1995     491
1985     484
1980     400
1990     394
1992     393
2001     342
1975     340
1994     324
1988     316
1976     281
1983     278
1993     266
1996     249
1970     244
1986     212
1997     197
1987     161
1973     160
1989     159
1977     126
1981     121
1971     116
1979     116
1991     107
2013     102
1963      81
1967      72
1969      47
1968      42
1960      34
1962      27
1964      17
1961      16
1965      14
1966       7
Name: construction_year, dtype: int64
-----------
extraction_type
-----------
gravity              19611
submersible           2842
mono                  1777
ksb                   1161
other                  844
nira/tanira            747
afridev                199
india mark ii          192
swn 80                 147
cemo                    89
windmill                70
other - play pump       66
climax                  29
other - rope pump       27
other - swn 81          10
india mark iii           2
Name: extraction_type, dtype: int64
-----------
extraction_type_group
-----------
gravity            19611
submersible         4003
mono                1777
other                844
nira/tanira          747
afridev              199
india mark ii        192
swn 80               147
other motorpump      118
other handpump        76
wind-powered          70
rope pump             27
india mark iii         2
Name: extraction_type_group, dtype: int64
-----------
extraction_type_class
-----------
gravity         19611
submersible      4003
motorpump        1895
handpump         1363
other             844
wind-powered       70
rope pump          27
Name: extraction_type_class, dtype: int64
-----------
management
-----------
vwc                 19567
water board          2442
wua                  1933
wug                   990
private operator      920
company               639
water authority       544
parastatal            462
other                 260
unknown                30
trust                  26
Name: management, dtype: int64
-----------
management_group
-----------
user-group    24932
commercial     2129
parastatal      462
other           260
unknown          30
Name: management_group, dtype: int64
-----------
payment
-----------
never pay                10040
pay per bucket            6133
pay monthly               5894
pay annually              2266
unknown                   2065
pay when scheme fails     1210
other                      205
Name: payment, dtype: int64
-----------
payment_type
-----------
never pay     10040
per bucket     6133
monthly        5894
annually       2266
unknown        2065
on failure     1210
other           205
Name: payment_type, dtype: int64
-----------
water_quality
-----------
soft                  25957
salty                  1122
unknown                 387
fluoride                124
coloured                123
salty abandoned          60
milky                    39
fluoride abandoned        1
Name: water_quality, dtype: int64
-----------
quality_group
-----------
good        25957
salty        1182
unknown       387
fluoride      125
colored       123
milky          39
Name: quality_group, dtype: int64
-----------
quantity
-----------
enough          16862
insufficient     7067
dry              2875
seasonal          886
unknown           123

Name: quantity, dtype: int64
-----------
quantity_group
-----------
enough          16862
insufficient     7067
dry              2875
seasonal          886
unknown           123
Name: quantity_group, dtype: int64
-----------
source
-----------
spring                  13121
river                    7576
machine dbh              4461
shallow well             1089
lake                      544
dam                       459
rainwater harvesting      291
other                     139
hand dtw                  117
unknown                    16
Name: source, dtype: int64
-----------
source_type
-----------
spring                  13121
river/lake               8120
borehole                 4578
shallow well             1089
dam                       459
rainwater harvesting      291
other                     155
Name: source_type, dtype: int64
-----------
source_class
-----------
groundwater    18788
surface         8870
unknown          155
Name: source_class, dtype: int64
-----------
waterpoint_type
-----------
communal standpipe             20307
communal standpipe multiple     4771
hand pump                       1396
other                           1194
improved spring                   76
cattle trough                     64
dam                                5
Name: waterpoint_type, dtype: int64
-----------
waterpoint_type_group
-----------
communal standpipe    25078
hand pump              1396
other                  1194
improved spring          76
cattle trough            64
dam                       5
Name: waterpoint_type_group, dtype: int64
-----------
status_group
-----------
functional                 16056
non functional              9744
functional needs repair     2013
Name: status_group, dtype: int64

In [9]:
no_good = ['id', 'date_recorded', 'recorded_by']

num = ['amount_tsh', 'gps_height', 'longitude', 'latitude', 'num_private', 'population', 'construction_year']

cat_num = ['region_code', 'district_code']

cat = ['funder', 'installer', 'wpt_name', 'basin', 'subvillage', 'region', 'lga', 'ward', 'scheme_management', 
       'scheme_name', 'extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 
       'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', 'quantity', 'quantity_group', 
       'source', 'source_type', 'source_class', 'waterpoint_type', 'waterpoint_type_group']

boolean = ['public_meeting', 'permit']

target = ['status_group']

In [10]:
X = pumps.drop(no_good + cat + target, axis=1)
y = pumps[target]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=pumps['status_group'])

In [12]:
tree = DecisionTreeClassifier(random_state=42)
tree.fit(X_train,y_train)

DecisionTreeClassifier(random_state=42)

In [13]:
tree.score(X_train, y_train)

0.9944388513351551

In [14]:
tree.score(X_test, y_test)

0.725050330744895